<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ultimate Study Materials Zone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/site.min.css">

    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>

    <link rel="stylesheet" href="../css/style.css">


   <link rel="stylesheet" href="../css/style2.css">

    <link rel="stylesheet" href="../custom.css">
    <style>

    </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">
        <div class="navbar-header" name="shadow" >


            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="glyphicon glyphicon-th" style="color:white">
            </button>
            <a class="navbar-brand" href="#myPage"> STUDY PHOBIA</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../index.html">HOME</a></li>
                <li><a href="../downloads/downloads.html">STUDY MATERIALS</a></li>
                <li><a href="../tutorials/tutorial.html">TUTORIALS</a></li>
                <li><a href="../codes/codes.html">CODES</a></li>
                <li><a href="../contact/contact.html">CONTACT</a></li>

                <li>




                    <button type="button" class="btn btn-primary btn-sm outline" id="myBtn"><span class="glyphicon glyphicon-off"></span> Login </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:35px 50px;">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4><span class="glyphicon glyphicon-lock"></span>Login to StudyPhobia</h4>
                                </div>
                                <div class="modal-body" style="padding:40px 50px;">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                                            <input type="text" class="form-control" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                                            <input type="text" class="form-control" id="psw" placeholder="Enter password">
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" checked>Remember me</label>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                    <p>Not a member? <a href="#" style="color:red">Sign Up</a></p>
                                    <p>Forgot <a href="#">Password?</a></p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <script>
                        $(document).ready(function(){
                            $("#myBtn").click(function(){
                                $("#myModal").modal();
                            });
                        });
                    </script>



                </li>
                <li>








                    <button type="button" class="btn btn-primary btn-sm outline" id="myBtn2"><span class="glyphicon glyphicon-edit"></span>  Sign Up</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:35px 50px;">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4><span class="glyphicon glyphicon-lock"></span>Signup to StudyPhobia</h4>
                                </div>
                                <div class="modal-body" style="padding:40px 50px;">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> First Name</label>
                                            <input type="text" class="form-control" id="usrname" placeholder="Enter First Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Last Name</label>
                                            <input type="text" class="form-control"  placeholder="Enter Last Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="usrname"><span class="glyphicon glyphicon-map-marker"></span> University</label>
                                            <input type="text" class="form-control"  placeholder="Enter University Name">
                                        </div>

                                        <div class="form-group">
                                            <label for="usrname"><span class="glyphicon glyphicon-book"></span> Stream/Course</label>
                                            <input type="text" class="form-control" placeholder="Enter Stream">
                                        </div>
                                        <div class="form-group">
                                            <label for="usrname"><span class="glyphicon glyphicon-email"></span> Email</label>
                                            <input type="text" class="form-control"  placeholder="Enter email">
                                        </div>

                                        <div class="form-group">
                                            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                                            <input type="text" class="form-control" placeholder="Enter password">
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" checked>Remember me</label>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                    <p>Not a member? <a href="#" style="color:red">Sign Up</a></p>
                                    <p>Forgot <a href="#">Password?</a></p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <script>
                        $(document).ready(function(){
                            $("#myBtn2").click(function(){
                                $("#myModal2").modal();
                            });
                        });
                    </script>











                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">

    <h3>What would you like to learn or download?</h3>
    </br>
    <form class="form-inline">
        <input type="text" class="form-control" style="height:46px"  size="50" placeholder="Tutorials,Reading Materials,Codes" required >
        <button type="button" class="btn btn-primary btn-sm outline"><span class="glyphicon glyphicon-search"></span>  Search</button>
    </form>


</div>


<div class="container-fluid text-center"  >

    <div class="row content" style="padding:0">

        <div class="col-sm-2 sidenav" style="padding:0" >
            <div class="well">
                <img src="../spMac.png" class="img-responsive center-block" height="160px" width="160px">
            </div>
            <nav class="navbar navbar-inverse" style="background-color:transparent;padding:0">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                            <span class="glyphicon glyphicon-menu-down" ></span>

                        </button>
                        <p class="text-primary">TOPICS</p>
                    </div>
                    <div class="collapse navbar-collapse" id="Navbar" style="padding:0">
                        <div class="list-group">
                            <a href="#" class="list-group-item text-center" style="background-color: #E9573F;color: white;font-size: 140%;font-style: italic;margin-bottom: 5px;">LIBRARIES</a>

                            <a href="#" class="list-group-item active">C++</a>
                            <a href="#" class="list-group-item">C</a>
                            <a href="#" class="list-group-item">Python</a>
                            <a href="#" class="list-group-item">JAVA</a>
                            <a href="#" class="list-group-item">Python</a>
                            <a href="#" class="list-group-item"><span class="badge badge-primary">8</span>Andoid</a>
                            <a href="#" class="list-group-item">HTML</a>
                            <a href="#" class="list-group-item">Microp. 8085</a>
                            <a href="#" class="list-group-item">Raptor</a>
                            <a href="#" class="list-group-item">Javascript</a>
                            <a href="#" class="list-group-item">PHP</a>
                            <a href="#" class="list-group-item"><span class="badge badge-primary">20</span>None</a>
                            <a href="#" class="list-group-item">index</a>
                            <a href="#" class="list-group-item">History</a>
                            <a href="#" class="list-group-item">Loop</a>
                            <a href="#" class="list-group-item">HTML</a>
                            <a href="#" class="list-group-item">C++</a>
                            <a href="#" class="list-group-item"><span class="badge badge-primary">38</span>C</a>

                        </div>

                    </div>
                </div>
            </nav>
        </div>
        <div class="col-sm-8 text-left">

            <h4 class="bg-primary text-center">DOWNLOADS</h4>


            <div class="col-md-12">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Library</a></li>
                    <li class="active"><span><i class="glyphicon glyphicon-download"></i> Download</span></li>
                </ol>
            </div>





</br>
<style type="text/css">
.atag
{
    color: white;


}

.atag : hover
{
    color: grey;
}


</style>

            <div class="color-wrap clearfix">
                

            <div class="color-wrap clearfix">
                <div class="color-picker" >
                    <div class="color-item" style="background-color:#C91F37;">
                      <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                            </div>

                            

                           

                         </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#DC3023;">
                           <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#9D2933;">
                           <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#CF000F;">
                            <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>

                           
                        </div> </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#E68364;">
                            <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                               <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#F22613;">
                          <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a> <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>

                <div class="color-picker">
                    <div class="color-item" style="background-color:#CF3A24;">
                          <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div> </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#C3272B;">
                       <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color: #8F1D21;">
                        <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div> </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#D24D57;">
                       <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>  
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#F08F90;">
                       <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div> </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#F47983;">
                       <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>  
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#DB5A6B;">
                        <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div> </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#C93756;">
                        <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#FCC9B9;">
                        <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#FFB3A7;">
                        <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#F62459;">
                        <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#F58F84;">
                        <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#875F9A;">
                       <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#5D3F6A;">
                        <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#89729E;">
                        <a href="#" data-toggle="tooltip" class="atag" data-placement="bottom" title="Click to View Code" ><u>File Handleing</u></a>
                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#763568;">
                        <span class="color-name">Iris color</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div> </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#8D608C;">
                        <span class="color-name">Tatarian aster color</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#A87CA0;">
                        <span class="color-name">Thin color</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div> </div>
                </div>

                <div class="color-picker">
                    <div class="color-item" style="background-color:#5B3256;">
                        <span class="color-name">Violet color</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div> </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#BF55EC;">
                        <span class="color-name">MEDIUM PURPLE</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div> </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color: #8E44AD;">
                        <span class="color-name">STUDIO</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#9B59B6;">
                        <span class="color-name">WISTERIA</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#BE90D4;">
                        <span class="color-name">LIGHT WISTERIA</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div> </div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#4D8FAC;">
                        <span class="color-name">Sky color</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#5D8CAE;">
                        <span class="color-name">Ultramarine color</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#22A7F0;">
                        <span class="color-name">PICTON BLUE</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#19B5FE;">
                        <span class="color-name">DODGER BLUE</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>
                <div class="color-picker">
                    <div class="color-item" style="background-color:#59ABE3;">
                        <span class="color-name">PICTON BLUE</span><br>

                        <div class="container-fluid">
                            <a href="#" class="button">
                                Download
                                <span class="glyphicon glyphicon-download-alt"></span>

                            </a>
                        </div></div>
                </div>



            </div>








            <div class="row example-pagination">
                <div class="col-md-12">
                    <ul class="pager">
                        <li class="previous"><a href="#">Previous</a></li>
                        <li class="next"><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2 sidenav">

            <nav class="navbar navbar-inverse" style="background-color:transparent;padding:0">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar2">
                            <span class="glyphicon glyphicon-menu-down" ></span>

                        </button>
                        <p class="text-primary">ALL SUBJECTS</p>

                    </div>
                    <div class="collapse navbar-collapse" id="Navbar2" style="padding:0">
                        <div class="list-group">
                            <a href="#" class="list-group-item" style="background-color: #E9573F;color: white;font-size: 140%;font-style: italic;margin-bottom: 5px;">CATEGORIES</a>
                            <a href="#" class="list-group-item active">PPT</a>
                            <a href="#" class="list-group-item">PDF</a>
                            <a href="#" class="list-group-item">WORD</a>
                            <a href="#" class="list-group-item">Term Papers</a>
                            <a href="#" class="list-group-item">Projects</a>
                            <a href="#" class="list-group-item"><span class="badge badge-primary">8</span>Codes</a>
                            <a href="#" class="list-group-item">Snippets</a>
                            <a href="#" class="list-group-item">Lecture Notes</a>
                            <a href="#" class="list-group-item">Videos</a>
                            <a href="#" class="list-group-item">Javascript</a>
                            <a href="#" class="list-group-item">PHP</a>
                            <a href="#" class="list-group-item"><span class="badge badge-primary">20</span>None</a>
                            <a href="#" class="list-group-item">index</a>
                            <a href="#" class="list-group-item">History</a>
                            <a href="#" class="list-group-item">Loop</a>
                            <a href="#" class="list-group-item">HTML</a>
                            <a href="#" class="list-group-item">C++</a>
                            <a href="#" class="list-group-item"><span class="badge badge-primary">38</span>C</a>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
</div>


<div class="container-fluid" >
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <div class="copy">
            <img src="../sp.png" alt="Image"  width="80" height="80">
</br>
            <p>The Ultimate Tutorial Zone &nbsp; | <a href="#" style="color:#000000"> <b>&nbsp;© StudyPhobia.com</b></a></p>
            <div class="buttons">
                <a class="twitter" href="#"><img src="../images/twitter.png"></a>
                <a class="facebook" href="#"><img src="../images/facebook.png"></a>
                <a class="dribble" href="#"><img src="../images/dribble.png"></a>
                <a class="rss" href="#"><img src="../images/rss.png"></a>
            </div>

        </div>


        <div class="clear"></div>


    </footer>
</div>
<script>
    $(document).ready(function(){
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });

        $(window).scroll(function() {
            $(".slideanim").each(function(){
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });
    })
</script>

</body>
</html>


